[submodule "analytics-101"]
	path = analytics-101
	url = http://github.com/aelkouhen/analytics-101.git
[submodule "_posts/data-101"]
	path = _posts
	url = http://github.com/aelkouhen/data-101.git
	branch = main
[submodule "data-redis"]
	path = data-redis
	url = http://github.com/aelkouhen/data-redis.git
