[submodule "_posts"]
	path = _posts
	url = http://github.com/aelkouhen/analytics-101/tree/main/_posts
[submodule "_posts"]
	path = _posts
	url = https://github.com/aelkouhen/data-101/tree/main/_posts
[submodule "_posts"]
	path = _posts
	url = http://github.com/aelkouhen/data-redis/tree/main/_posts
