<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
{% assign active_lang = page.lang | default: site.active_lang | default: site.default_lang %}
{% if active_lang == 'fr' %}{% assign ui_t = site.data.translations.fr.ui %}{% else %}{% assign ui_t = site.data.translations.en.ui %}{% endif %}
{% assign ui_min_read = ui_t.min_read | default: "min read" %}
{% assign ui_updated  = ui_t.updated  | default: "Updated" %}
{% if ui_t.months %}
  {% assign _months_arr = ui_t.months | split: "," %}
  {% assign _mi = page.date | date: "%-m" | minus: 1 %}
  {% assign _mn = _months_arr[_mi] %}
  {% assign _dd = page.date | date: "%-d" %}
  {% assign _yy = page.date | date: "%Y" %}
  {% if ui_t.date_day_first %}
    {% capture page_date_str %}{{ _dd }} {{ _mn }} {{ _yy }}{% endcapture %}
  {% else %}
    {% capture page_date_str %}{{ _mn }} {{ _dd }}, {{ _yy }}{% endcapture %}
  {% endif %}
  {% if page.last-updated %}
    {% assign _mi = page.last-updated | date: "%-m" | minus: 1 %}
    {% assign _mn = _months_arr[_mi] %}
    {% assign _dd = page.last-updated | date: "%-d" %}
    {% assign _yy = page.last-updated | date: "%Y" %}
    {% if ui_t.date_day_first %}
      {% capture last_updated_str %}{{ _dd }} {{ _mn }} {{ _yy }}{% endcapture %}
    {% else %}
      {% capture last_updated_str %}{{ _mn }} {{ _dd }}, {{ _yy }}{% endcapture %}
    {% endif %}
  {% endif %}
{% else %}
  {% assign page_date_str    = page.date       | date: date_format %}
  {% assign last_updated_str = page.last-updated | date: date_format %}
{% endif %}

{% if page.cover-img or page.title %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
      {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
{% if page.cover-img %}
<div class="big-img intro-header">
  <div class="{% if page.full-width %}container-fluid{% elsif page.wide %}container-xl{% else %}container-md{% endif %}">
    <div class="row">
      <div class="{% if page.full-width %}col{% elsif page.wide %}col-xl-11 col-lg-10 offset-lg-1{% else %}col-xl-8 offset-xl-2 col-lg-10 offset-lg-1{% endif %}">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            {% assign read_words = page.content | strip_html | number_of_words %}
            {% assign read_mins = read_words | divided_by: 200 | round %}
            {% if read_mins < 1 %}{% assign read_mins = 1 %}{% endif %}
            <div class="post-author-meta">
              {% if page.author-avatar %}
              <img class="post-author-avatar" src="{{ page.author-avatar | absolute_url }}" alt="{{ page.author }}">
              {% endif %}
              <div class="post-author-info">
                {% if page.author %}<span class="post-author-name">{{ page.author }}</span>{% endif %}
                <span class="post-author-date">
                  {{ page_date_str }}
                  {% if page.last-updated %}&nbsp;&middot;&nbsp;{{ ui_updated }} {{ last_updated_str }}{% endif %}
                </span>
              </div>
              <span class="post-read-time">
                <i class="far fa-clock"></i> {{ read_mins }} {{ ui_min_read }}
              </span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="{% if page.full-width %}container-fluid{% elsif page.wide %}container-xl{% else %}container-md{% endif %}">
    <div class="row">
      <div class="{% if page.full-width %}col{% elsif page.wide %}col-xl-11 col-lg-10 offset-lg-1{% else %}col-xl-8 offset-xl-2 col-lg-10 offset-lg-1{% endif %}">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            {% assign read_words = page.content | strip_html | number_of_words %}
            {% assign read_mins = read_words | divided_by: 200 | round %}
            {% if read_mins < 1 %}{% assign read_mins = 1 %}{% endif %}
            <div class="post-author-meta">
              {% if page.author-avatar %}
              <img class="post-author-avatar" src="{{ page.author-avatar | absolute_url }}" alt="{{ page.author }}">
              {% endif %}
              <div class="post-author-info">
                {% if page.author %}<span class="post-author-name">{{ page.author }}</span>{% endif %}
                <span class="post-author-date">
                  {{ page_date_str }}
                  {% if page.last-updated %}&nbsp;&middot;&nbsp;{{ ui_updated }} {{ last_updated_str }}{% endif %}
                </span>
              </div>
              <span class="post-read-time">
                <i class="far fa-clock"></i> {{ read_mins }} {{ ui_min_read }}
              </span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
