{% assign card_posts = include.posts %}
{% include get-translation-data.html %}
{% assign _cards_ui_t = _t_data.ui %}

<div class="card-grid">
  {% for post in card_posts %}

    {%- capture thumbnail -%}
      {%- if post.thumbnail-img -%}
        {{ post.thumbnail-img }}
      {%- elsif post.cover-img -%}
        {%- if post.cover-img.first -%}
          {{ post.cover-img[0].first.first }}
        {%- else -%}
          {{ post.cover-img }}
        {%- endif -%}
      {%- endif -%}
    {%- endcapture -%}
    {%- assign thumbnail = thumbnail | strip -%}

    <article class="card{% if forloop.first %} card--featured{% endif %}">

      {%- if thumbnail != "" -%}
      <a href="{{ post.url | absolute_url }}" class="card__image-wrap" aria-label="{{ post.title | strip_html }}">
        <img src="{{ thumbnail | absolute_url }}" alt="{{ post.title | strip_html }}" loading="lazy">
      </a>
      {%- endif -%}

      <div class="card__body">
        {%- if post.tags.size > 0 -%}
        <div class="card__tags">
          {%- for tag in post.tags -%}
          <span class="card__tag">{{ tag }}</span>
          {%- endfor -%}
        </div>
        {%- endif -%}

        <a href="{{ post.url | absolute_url }}" class="card__title-link">
          <h2 class="card__title">{{ post.title | strip_html }}</h2>
        </a>

        <p class="card__excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>

        <div class="card__meta">
          {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
          {%- if _cards_ui_t.months -%}
            {%- assign _pm  = post.date | date: "%-m" | minus: 1 -%}
            {%- assign _pmn = _cards_ui_t.months | split: "," -%}
            {%- assign _pmn = _pmn[_pm] -%}
            {%- assign _pd  = post.date | date: "%-d" -%}
            {%- assign _py  = post.date | date: "%Y" -%}
            {%- if _cards_ui_t.date_day_first -%}
              {%- capture _post_date %}{{ _pd }} {{ _pmn }} {{ _py }}{% endcapture -%}
            {%- else -%}
              {%- capture _post_date %}{{ _pmn }} {{ _pd }}, {{ _py }}{% endcapture -%}
            {%- endif -%}
          {%- else -%}
            {%- assign _post_date = post.date | date: date_format -%}
          {%- endif -%}
          {% if post.author-avatar or post.author %}
          <div class="card__author">
            {% if post.author-avatar %}
            <img class="card__author-avatar" src="{{ post.author-avatar | absolute_url }}" alt="{{ post.author }}" loading="lazy">
            {% endif %}
            <div class="card__author-info">
              {% if post.author %}<span class="card__author-name">{{ post.author }}</span>{% endif %}
              <span class="card__author-date">{{ _post_date }}</span>
            </div>
          </div>
          {% else %}
          {{ _post_date }}
          {% endif %}
        </div>
      </div>

    </article>

  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
{% assign pag_t = _t_data.pagination %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">{{ pag_t.newer | default: "&larr; Newer Posts" }}</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">{{ pag_t.older | default: "Older Posts &rarr;" }}</a>
  </li>
  {% endif %}
</ul>
{% endif %}
