---
layout: page
---

{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts %}
  {% include post-cards.html posts=posts %}
{% else %}
  {% assign posts = site.posts %}
  {% assign page_size = site.pagination.per_page | default: 7 %}
  <div id="js-post-list">
    {% include post-cards.html posts=posts %}
  </div>
  {% if posts.size > page_size %}
  <div id="js-pagination"></div>
  <script>
  (function () {
    var pageSize = {{ page_size }};
    var grid = document.querySelector('#js-post-list .card-grid');
    var cards = grid ? Array.from(grid.children) : [];
    var total = cards.length;
    var currentPage = 1;
    var totalPages = Math.ceil(total / pageSize);
    {% assign active_lang = page.lang | default: site.active_lang | default: site.default_lang %}
    {% assign pag_t = site.data.translations[active_lang].pagination %}
    var newerLabel = "{{ pag_t.newer | default: '&larr; Newer Posts' }}";
    var olderLabel = "{{ pag_t.older | default: 'Older Posts &rarr;' }}";

    function showPage(p) {
      var start = (p - 1) * pageSize;
      cards.forEach(function (c, i) {
        c.style.display = (i >= start && i < start + pageSize) ? '' : 'none';
      });
      currentPage = p;
      renderNav();
    }

    function renderNav() {
      var nav = document.getElementById('js-pagination');
      var html = '<ul class="pagination main-pager">';
      if (currentPage > 1) {
        html += '<li class="page-item previous"><a class="page-link js-page-btn" href="#" data-page="' + (currentPage - 1) + '">' + newerLabel + '</a></li>';
      }
      if (currentPage < totalPages) {
        html += '<li class="page-item next"><a class="page-link js-page-btn" href="#" data-page="' + (currentPage + 1) + '">' + olderLabel + '</a></li>';
      }
      html += '</ul>';
      nav.innerHTML = html;
      nav.querySelectorAll('.js-page-btn').forEach(function (a) {
        a.addEventListener('click', function (e) {
          e.preventDefault();
          showPage(parseInt(this.getAttribute('data-page')));
          window.scrollTo(0, 0);
        });
      });
    }

    showPage(1);
  })();
  </script>
  {% endif %}
{% endif %}
